/* VARIABLES */
:root {
	--color-000: #fff;
	--color-010: #e4d2c9;
	--color-020: #875d4b;
	--color-030: #996f8a;
	--color-035: #dbc5c2;
	--color-070: #635673;
	--color-090: #4d4d4d;

	--c-link-menu: var(--color-020);
	--c-bg-main: var(--color-010);
	--c-title-img: var(--color-000);
	--c-text-img: var(--color-000);
	--c-title-fancy: var(--color-020);
	--c-text-main: var(--color-090);
	--c-btn-bg: var(--color-070);
	--c-btn-bg-hover: var(--color-020); /* TODO -- to be defined */
	--c-btn-text: var(--color-000);
	--c-btn-text-hover: var(--color-000); /* TODO -- to be defined */
	--c-bg-box-dark: var(--color-030);
	--c-text-box-dark: var(--color-000);
	--c-bg-box-light: var(--color-035);
	--c-text-box-light: var(--color-090);
	--c-title-box-light: var(--color-030);
	--c-bg-review: var(--color-000);
	--c-text-review: var(--color-030);

	--f-size-h1: 4.75rem; /* 76px */
	--f-size-h2: 2.25rem; /* 36px */
	--f-size-h3: 1.5rem; /* 24px */
	--f-size-h3-fancy: 1.7rem; /* 27px */
	--f-size-h4: 2rem; /* 32px */
	--f-size-box-dark: 1.8rem; /* 29px */
	--f-size-text-main: 1.125rem; /* 18px */

	--le-spacing-text-main: -0.037rem;

	--l-height-text-main: 1.5;

	--p-main: 2rem;
}

/* RESET BROWSER STYLES */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

/* STRUCTURE */
body {
	background-color: var(--c-bg-main);
	overflow-x: hidden;
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* !!! HERO SECTION: needs editing */
.wrapper > section.hero {
	box-sizing: content-box;
}

.wrapper > section {
	width: 75vw; /*TODO --- media queries */
}

/* BASIC ELEMENTS */
p,
h3,
h4,
h5,
button,
ol,
ul {
	font-family: "Raleway", sans-serif;
}

h1,
h2 {
	font-family: "BelyDisplay", serif;
}

h1 {
	font-size: var(--f-size-h1);
}

h2 {
	font-size: var(--f-size-h2);
}

h3 {
	font-size: var(--f-size-h3);
}

/** OL and UL added here */
p,
ul,
ol {
	font-size: var(--f-size-text-main);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: var(--l-height-text-main);
	letter-spacing: var(--le-spacing-text-main);
	color: var(--c-text-main);
}

/* INTRO */
h2 {
	font-family: "BelyDisplay", serif; /*TODO --- connect font properly */
	font-size: var(--f-size-h2);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.83;
	letter-spacing: normal;
	text-align: left;
	color: var(--c-title-fancy);
}

h2.fancy,
h3.subtitle {
	margin: 3rem 0;
}

h3.subtitle {
	font-size: var(--f-size-h3);
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: normal;
	text-align: left;
	color: var(--c-text-main);
}

p.normal,
p.sidenote {
	margin-bottom: 1.5rem;
}
p.check {
}

p.normal strong,
p.check strong {
	font-weight: 800;
}

p.check::after {
	content: "✅";
}

p.sidenote {
	font-weight: 300;
	font-style: italic;
}

/* INTRO - hero ini */
/* !!! HERO SECTION: needs editing: img should be width of other sections, and title */
/* div.hero { */
section.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* div.hero img { */
section.hero img {
	padding: 0 2rem;
}

h1.hero {
	/* !!! TODO -- see to make text size responsive */
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 8.5px rgba(7, 6, 6, 0.16);
	font-family: BelyDisplay;
	font-size: --f-size-h1;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.33rem; /* -5.33px */
	color: var(--color-000);
}

/* ======== PROFILE STYLES ======== */
section.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

section.profile {
}

img.profile {
	width: 50vw;
}

div.box-dark {
	padding: 2rem 3.3rem; /*!!! check padding and add vars */
	background-color: var(--c-bg-box-dark);
}

.box-dark h4 {
	font-size: var(--f-size-h4);
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 1.13; */
	letter-spacing: normal;
	text-transform: uppercase;
	text-decoration: underline;
	color: var(--c-text-box-dark);
}

.box-dark p {
	font-size: var(--f-size-box-dark);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.24;
	letter-spacing: normal;
	text-align: center;
	color: var(--c-text-box-dark);
}

.box-dark em {
	font-style: italic;
}

.box-dark em.underline {
	font-style: normal;
	text-decoration: underline;
}

/* *======== PROGRAM STYLES ======== */
/*!!! h2.fancy up there has been changed to simply h2 */

h2.info {
	text-transform: uppercase;
	margin-bottom: 1rem;
    margin-top: 4rem;
	color: var(--c-title-fancy);
}

div.box-light {
	padding: var(--p-main);
	margin: 0 2rem 4rem;
	background-color: var(--c-bg-box-light);
}

h3.module {
	margin-top: 1.5rem;
	font-weight: 800;
	color: var(--c-title-box-light);
}
/* !!! edit margin-top from 1st title */

span.marker {
	font-weight: normal;
}

ol.course-program {
	list-style: none;
}

h3.fancy-subtitle {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
	font-family: "BelyDisplay", serif;
	font-size: var(--f-size-h3-fancy);
	text-transform: uppercase;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: -1.91px;
	text-align: left;
	color: var(--c-title-box-light);
}

li ul.subtopics {
	padding-left: var(--p-main);
}
