:root {
	--color-000: #fff;
	--color-010: #e4d2c9;
	--color-020: #875d4b;
	--color-030: #996f8a;
	--color-035: #dbc5c2;
	--color-070: #635673;
	--color-090: #4d4d4d;

	--color-link-menu: var(--color-020);
	--color-bg-main: var(--color-010);
	--color-title-img: var(--color-000);
	--color-text-img: var(--color-000);
	--color-title-fancy: var(--color-020);
	--color-text-main: var(--color-090);
	--color-btn-bg: var(--color-070);
	--color-btn-bg-hover: var(--color-020); /* TODO -- to be defined */
	--color-btn-text: var(--color-000);
	--color-btn-text-hover: var(--color-000); /* TODO -- to be defined */
    --color-bg-box-dark: var(--color-030);
    --color-text-box-dark: var(--color-000);
    --color-bg-box-light: var(--color-035);
    --color-text-box-light: var(--color-090);
    --color-title-box-light: var(--color-030);
    --color-bg-review: var(--color-000);
    --color-text-review: var(--color-030);
}

/* FONTS: text: raleway, menu: arcon, fancy-titles: belyDisplay  */


a {
	text-decoration: none;
}

a:hover {
	color: var(--color-000);
}

nav.main a {
	color: var(--color-link-menu);
}

header.main {
}

.logo {
}
nav.main {
}
nav.main ul {
}
nav.main ul li {
}
