/* FONTS: text: raleway, menu: arcon, fancy-titles: belyDisplay  */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/raleway-v28-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/raleway-v28-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/raleway-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-800italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/raleway-v28-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-800italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-900italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/raleway-v28-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v28-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v28-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v28-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v28-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v28-latin-900italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BelyDisplay';
    src: url('fonts/bely-display-w00-regular-webfont.woff2') format('woff2'),
         url('fonts/bely-display-w00-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arcon';
    src: url('fonts/arcon-regular-webfont.woff2') format('woff2'),
         url('fonts/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES */
:root {
	--color-000: #fff;
	--color-010: #e4d2c9;
	--color-020: #875d4b;
	--color-030: #996f8a;
	--color-035: #dbc5c2;
	--color-070: #635673;
	--color-090: #4d4d4d;

	--c-link-menu: var(--color-020);
	--c-bg-main: var(--color-010);
	--c-title-img: var(--color-000);
	--c-text-img: var(--color-000);
	--c-title-fancy: var(--color-020);
	--c-text-main: var(--color-090);
	--c-btn-bg: var(--color-070);
	--c-btn-bg-hover: var(--color-020); /* TODO -- to be defined */
	--c-btn-text: var(--color-000);
	--c-btn-text-hover: var(--color-000); /* TODO -- to be defined */
	--c-bg-box-dark: var(--color-030);
	--c-text-box-dark: var(--color-000);
	--c-bg-box-light: var(--color-035);
	--c-text-box-light: var(--color-090);
	--c-title-box-light: var(--color-030);
	--c-bg-review: var(--color-000);
	--c-text-review: var(--color-030);

	--f-size-h1: 4.75rem; /* 76px */
	--f-size-h2: 2.25rem; /* 36px */
	--f-size-h3: 1.5rem; /* 24px */
	--f-size-h3-fancy: 1.7rem; /* 27px */
	--f-size-h4: 2rem; /* 32px */
	--f-size-box-dark: 1.8rem; /* 29px */
	--f-size-text-main: 1.125rem; /* 18px */
	--f-size-price: 2.6rem; /* 42px */
	--f-size-btn: 3.5rem; /* 56px */

	--le-spacing-text-main: -0.037rem;

	--l-height-text-main: 1.5;

	--p-main: 2rem;
}

/* RESET BROWSER STYLES */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

/* STRUCTURE */
body {
	background-color: var(--c-bg-main);
	overflow-x: hidden;
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* !!! HERO SECTION: needs editing */
.wrapper > section.hero {
	box-sizing: content-box;
}

.wrapper > section {
	width: 75vw; /*TODO --- media queries */
}

/* BASIC ELEMENTS */
p,
h3,
h4,
h5,
button,
ol,
ul {
	font-family: "Raleway", sans-serif;
}

h1,
h2 {
	font-family: "BelyDisplay", serif;
}

h1 {
	font-size: var(--f-size-h1);
}

h2 {
	font-size: var(--f-size-h2);
}

h3 {
	font-size: var(--f-size-h3);
}

/** OL and UL added here */
p,
ul,
ol {
	font-size: var(--f-size-text-main);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: var(--l-height-text-main);
	letter-spacing: var(--le-spacing-text-main);
	color: var(--c-text-main);
}

/* INTRO */
h2 {
	font-family: "BelyDisplay", serif; /*TODO --- connect font properly */
	font-size: var(--f-size-h2);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.83;
	letter-spacing: normal;
	text-align: left;
	color: var(--c-title-fancy);
}

h2.fancy,
h3.subtitle {
	margin: 3rem 0;
}

h3.subtitle {
	font-size: var(--f-size-h3);
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: normal;
	text-align: left;
	color: var(--c-text-main);
}

p.normal,
p.sidenote {
	margin-bottom: 1.5rem;
}
p.check {
}

p.normal strong,
p.check strong {
	font-weight: 800;
}

p.check::after {
	content: "✅";
}

p.sidenote {
	font-weight: 300;
	font-style: italic;
}

/* INTRO - hero ini */
/* !!! HERO SECTION: needs editing: img should be width of other sections, and title */
/* div.hero { */
section.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* div.hero img { */
section.hero img {
	padding: 0 2rem;
}

h1.hero {
	/* !!! TODO -- see to make text size responsive */
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 8.5px rgba(7, 6, 6, 0.16);
	font-family: BelyDisplay;
	font-size: --f-size-h1;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.33rem; /* -5.33px */
	color: var(--color-000);
}

/* ======== PROFILE STYLES ======== */
section.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centered {
	text-align: center;
}

section.profile {
}

img.profile {
	width: 50vw;
}

div.box-dark {
	padding: 2rem 3.3rem; /*!!! check padding and add vars */
	background-color: var(--c-bg-box-dark);
}

.box-dark h4 {
	font-size: var(--f-size-h4);
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 1.13; */
	letter-spacing: normal;
	text-transform: uppercase;
	text-decoration: underline;
	color: var(--c-text-box-dark);
}

.box-dark p {
	font-size: var(--f-size-box-dark);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.24;
	letter-spacing: normal;
	text-align: center;
	color: var(--c-text-box-dark);
}

.box-dark em {
	font-style: italic;
}

.box-dark em.underline {
	font-style: normal;
	text-decoration: underline;
}

/* ======== PROGRAM STYLES ======== */
/*!!! h2.fancy up there has been changed to simply h2 */

h2.info {
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: 2rem;
	color: var(--c-title-fancy);
}

div.box-light {
	padding: var(--p-main);
	margin: 0 2rem 4rem;
	background-color: var(--c-bg-box-light);
}

h3.module {
	margin-top: 1.5rem;
	font-weight: 800;
	color: var(--c-title-box-light);
}
/* !!! edit margin-top from 1st title */

span.marker {
	font-weight: normal;
}

ol.course-program {
	list-style: none;
}

h3.fancy-subtitle {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	font-family: "BelyDisplay", serif;
	font-size: var(--f-size-h3-fancy);
	text-transform: uppercase;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: -1.91px;
	text-align: left;
	color: var(--c-title-box-light);
}

li ul.subtopics {
	padding-left: var(--p-main);
}

/* *======== REVIEWS STYLES ======== */
span.emoji {
	font-size: var(--f-size-h2);
}

div.plugin-reviews {
	width: 100%;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: var(--p-main);
}

/* .one-review {
    background-color: var(--color-000);
    border-radius: var(--p-main);
}

.one-review p {
    color: var(--c-text-box-light);
    grid-column: 1/2;
} */

/* *======== ENTER NOW STYLES ======== */
.enter-now img {
	margin-bottom: 3rem;
}
p.cutout {
	text-decoration: line-through;
}

strong.price {
	text-decoration: underline;
	font-weight: 900;
	font-size: var(--f-size-price);
}

button.buy {
	margin: 16.8px 23.1px 31.8px 51.5px;
	padding: 24.2px 63px 28.6px 62.6px;
	border-radius: 26.5px;
	box-shadow: 11.3px 17px 8.5px 0 rgba(7, 6, 6, 0.16);
	background-color: var(--c-btn-bg);
	color: var(--c-btn-text);
	font-weight: 800;
	font-size: var(--f-size-btn);
}

p.obs {
    font-size: 1rem;
}
